{% extends 'base.html.twig' %}

{% block title %}Paniers{% endblock %}

{% block body %}
    <h1 class="admin-title text-center">PANIERS</h1>
    <div class="d-flex justify-content-center">
        <a class="btn btn-primary" href="{{ path('panier_new') }}">Ajouter Panier</a>
    </div>

    <table class="table table-striped admin-table">
        <thead>
            <tr class="text-center">
                <th>Id</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>Quantite</th>
                <th>Montant</th>
                <th>Prix_unite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for panier in paniers %}
            <tr class="text-center">
                <td>{{ panier.id }}</td>
                <td>{{ panier.createdAt ? panier.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ panier.updatedAt ? panier.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ panier.quantite }}</td>
                <td>{{ panier.montant }}</td>
                <td>{{ panier.prixUnite }}</td>
                <td>
                    <a class="btn btn-sm btn-success" href="{{ path('panier_show', {'id': panier.id}) }}">Voir</a>
                    <a class="btn btn-sm btn-danger" href="{{ path('panier_edit', {'id': panier.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr class="text-center">
                <td colspan="7">Pas de paniers!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
