{% extends 'base.html.twig' %}

{% block title %}{{ titre }}{% endblock %}

{% block body %}

<!-- Modal -->
{# <div id="modal">
    <div>
        <h4 class="text-center">Supprimer un produit</h4>
        <p class="text-center">Êtes-vous sûr de supprimer cet produit?</p>
        <div id="buttons">
            <a id="cancel" href="#" class="btn btn-sm btn-secondary mb-2">Annuler</a>
            <a id="delete" href="#" class="btn btn-sm btn-danger mb-2">Supprimer</a>
        </div>
    </div>
</div> #}
<!-- End Modal -->

<h2 class="text-center">{{ titre }}</h2>
<table class="table">
    <thead>
        <tr class="text-center">
            <th class="align-middle">Produit</th>
            <th class="align-middle">Prix Unitaire</th>
            <th class="align-middle">Quantité</th>
            <th class="align-middle">Montant</th>
            <th class="align-middle">Supprimer</th>
        </tr>
    </thead>
    <tbody>
        {% for panier in paniers %}
            <tr class="text-center">
                <td class="align-middle"><a href="{{ path('produit', {id:panier.produit.id}) }}">{{ panier.produit.getNom() }}</a></td>
                <td class="align-middle">{{ panier.getPrixUnite() }}</td>
                <td class="align-middle">
                    <form action="{{ path('modifier_panier') }}" method="POST">
                        <div class="form-group row">
                            <input name="quantite" class="text-center form-control col-4 offset-2 col-form-label" type="number"
                                value="{{ panier.quantite }}" min="0" max="{{ panier.produit.stock }}">
                            <input type="hidden" name="panier_id" value="{{ panier.id }}">
                            <div class="col-4">
                                <button type="submit" class="btn btn-warning"><i class="fas fa-edit"></i></button>
                            </div>
                        </div>
                    </form>
                </td>
                <td class="align-middle">{{ panier.montant }}</td>
                <td class="align-middle">
                    <form action="{{ path('supprimer_panier') }}" method="POST">
                        <input type="hidden" name="panier_id" value="{{ panier.id }}">
                        <button type="submit" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}


{% block javascripts %}
<script src="{{ asset('js/modals.js') }}"></script>

{% endblock %}

{# Vide le block panier lorsqu'on le visite #}
{% block panier %}
    
{% endblock %}
