{% extends 'base.html.twig' %}

{% block title %}{{ titre }}{% endblock %}

{% block body %}

<h2 class="text-center">{{ titre }}</h2>
<table class="table">
    <thead>
        <tr class="text-center">
            <th class="align-middle">Produit</th>
            <th class="align-middle">Prix Unitaire</th>
            <th class="align-middle">Quantité</th>
            <th class="align-middle">Montant</th>
            <th class="align-middle">Supprimer</th>
        </tr>
    </thead>
    <tbody>
        {% for panier in paniers %}
            <tr class="text-center">
                <td class="align-middle"><a href="{{ path('produit', {id:panier.produit.id}) }}">{{ panier.produit.getNom() }}</a></td>
                <td class="align-middle">{{ panier.getPrixUnite() }}</td>
                <td class="align-middle">
                    <form action="" method="POST">
                        <div class="form-group row">
                            <input name="quantite" class="text-center form-control col-4 offset-2 col-form-label" type="number"
                                value="{{ panier.quantite }}" min="0" max="{{ panier.produit.stock }}">
                            <input type="hidden" name="panier" value="{{ panier.id }}">
                            <div class="col-4">
                                <button type="submit" class="btn btn-warning"><i class="fas fa-edit"></i></button>
                            </div>
                        </div>
                    </form>
                </td>
                <td class="align-middle">{{ panier.montant }}</td>
                <td class="align-middle">
                    <a id="" href="{{ path('vider_panier', {id: panier.id}) }}" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
