{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<h2 class="titre">
    Liste des produits
</h2>
<div class='row'>
    {% for produit in liste %}
    <article class="col-4 card">
        <img src="" class="card-img-top">
        <div class="card_body">
            <h5>{{produit.nom}}</h5>
            <ul class="list-group-item">
                <li>Référence: {{produit.reference}}</li>
                <li>Description: {{produit.description}}</li>
                <li>Stock: {{produit.stock}}</li>
                <li>Prix: {{produit.prix}}€</li>
            </ul>
        </div>
    </article>
    {% else %}
    <p class="alert alert-info">
        Aucun produit actuellement disponible.
    </p>
    {% endfor %}
</div>
{% endblock %}
