{% extends 'base.html.twig' %}

{% block title %}Projet.com{% endblock %}

{% block body %}
<h2 class="titre">
    Liste des produits
</h2>
<div class='row resultat'>
    {% for produit in liste %}
    <article class="col-4 card py-2">
        <img    src="{{ produit.image ? asset('img/produits/') ~ produit.image : asset('img/produits/default.jpg') }}"
                class="card-img-top">
        <div class="card_body">
            <h5>{{produit.nom}}</h5>
            <ul class="list-group-item">
                <li>modele: {{produit.reference}}</li>
                <li>marque: {{produit.marque}}</li>
                <li>Description: {{produit.description}}</li>
                <li>Stock: {{produit.stock}}</li>
                <li>Prix: {{produit.prix}}€</li>
            </ul>
            <a href="{{ path('produit', {'id': produit.id}) }}" class="btn btn-success">Voir Produit</a>
        </div>
    </article>
    {% else %}
    <p class="alert alert-info">
        Aucun produit actuellement disponible.
    </p>
    {% endfor %}
</div>
{% endblock %}
