{% extends 'base_admin.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12 col-md-8 offset-md-2">
        <h3 class="text-center">Ajouter un produit</h3>
        {{ form_start(form) }}

        {{ form_row(form.reference) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.image) }}
        {{ form_row(form.prix) }}
        {{ form_row(form.description) }}
        {{ form_row(form.stock) }}
        {{ form_row(form.modele) }}
        {{ form_row(form.marque) }}
        {{ form_row(form.categorie) }}
        {{ form_row(form.tags) }}
        
        <button type="submit" class="btn btn-success">Sauvegarder</button>
        <a class="btn btn-primary" href="{{ path('admin_produits') }}">Retourner à la liste</a>
        {{ form_end(form) }}

    </div>
</div>
{% endblock %}