{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
<div class='row'>
    {% if produit %}  
        <article class="col-6 card">
            <img src="{{ produit.image ? asset('img/produits/') ~ produit.image : asset('img/produits/default.jpg') }}"
            class="card-img-top">
        </article>
        <div class="card_body col-6">
            <h3 class="text-center">{{produit.nom}}</h3>
            <ul class="list-group-item">
                <li>Référence: {{produit.reference}}</li>
                <li>marque: {{produit.marque}}</li>
                <li>modèle: {{produit.modele}}</li>
                <li>Description: {{produit.description}}</li>
                <li>Stock: {{produit.stock}}</li>
                <li>Prix: {{produit.prix}}€</li>
            </ul>
            <hr>
            {% if app.user %}
            <form action="{{ path('ajout_panier') }}" method="POST">
                <div class="d-flex flex-column">
                    <h3 class="text-center my-4">Commander ce produit</h3>
                    <div class="form-group row">
                        <label for="quantite" class="text-center text--md-right col-6 col-md-4 col-form-label">Quantité</label>
                        <div class=" col-6 col-md-3 mx-0 p-0">
                            <input type="number" min="1" max="{{ produit.stock }}" class="form-control" id="quantite" name="quantite" required>
                            <input type="hidden" name="id" value="{{ produit.id }}">
                        </div>
                        <div class="text-center col-12 col-md-5">
                            <input class="btn btn-success" type="submit" value="Commander">
                        </div>
                    </div>
                </div>
            </form>
            {% else %}
            <h5 class="text-center my-4">Enregistrez-vous ou logez-vous pour commander</h5>
            <div class="d-flex justify-content-center">
                <a href="{{ path('app_register') }}" class="btn btn-primary mx-2">Sign Up</a>
                <a href="{{ path('app_login') }}" class="btn btn-info mx-2">Log In</a>
            </div>    
            {% endif %}
        </div>
    {% else %}
        <p class="alert alert-info">
            Aucun produit actuellement disponible.
        </p>
    {% endif %}
</div>
{% endblock %}