{% if app.user %}
    <span class="navbar-text">
        Bienvenue {{ app.user.prenom }} {{ app.user.nom }}
    </span>
{% endif %}
<nav id="nav" class="navbar navbar-expand-lg container">
    <a class="navbar-brand lien" href="{{ path('home') }}">Projet.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav">
        
        {% for lien in liens %}
            <li class="nav-item">
                <a href="{{ path(lien.href) }}" class="nav-link lien">
                    <i class="{{ lien.icon }} lien"></i> {{ lien.lib }}
                </a>
            </li>
        {% endfor %}

        </ul>
    </div>
</nav>