{% extends 'base_admin.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}
    <h1 class="admin-title text-center">CLIENTS</h1>
    <div class="d-flex justify-content-center">
        <a class="btn btn-primary" href="{{ path('client_new') }}">Ajouter Client</a>
    </div>
    <table class="table table-striped admin-table">
        <thead>
            <tr class="text-center">
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Cp</th>
                <th>Telephone</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr class="text-center">
                <td>{{ client.id }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.roles ? client.roles|json_encode : '' }}</td>
                <td>{{ client.nom }}</td>
                <td>{{ client.prenom }}</td>
                <td>{{ client.adresse }}</td>
                <td>{{ client.ville }}</td>
                <td>{{ client.cp }}</td>
                <td>{{ client.telephone }}</td>
                <td>{{ client.createdAt ? client.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ client.updatedAt ? client.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-sm btn-success" href="{{ path('admin_client', {'id': client.id}) }}">show</a>
                    <a class="btn btn-sm btn-danger" href="{{ path('client_edit', {'id': client.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr class="text-center">
                <td colspan="13">Pas de clients!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
