{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <h3 class="tex-center">On vous écoute</h3>
            {{ form_start(form) }}

                {{ form_row(form.prenom) }}
                {{ form_row(form.nom) }}
                {{ form_row(form.organisation) }}
                {{ form_row(form.telephone) }}
                {{ form_row(form.email) }}
                {{ form_row(form.contenu) }}

                <button type="submit" class="btn btn-success">Envoyer</button>

            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
