<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {# FontAwesome #}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
        <link href="https://fonts.googleapis.com/css?family=Ropa+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap" rel="stylesheet">
        {# Bootstrap #}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {# jQuery UI css ?? #}
        
        {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.2/rangeslider.min.css">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
        <script src="https://kit.fontawesome.com/1c34d428df.js"></script>
    </head>
    <body>
        <header id="header">
            
            {% block header %}
                <div class="titre">
                    <h1>Projet.com</h1>
                </div>
                {{ render(controller('App\\Controller\\NavbarController::show')) }}
            {% endblock %}

        </header>
                
        <div class="container-fluid">
            
            <div class="row">
                <div id="body" class="col-12 col-md-8 order-1 order-md-2 py-3">
                    {% block body %}{% endblock %}
                </div>
                <div id="sidebar" class="col-8 col-md-2 order-2 order-md-1">
                    {% block sidebar %}
                        {{ render(controller('App\\Controller\\SidebarController::show')) }}                        
                    {% endblock %}
                </div>
            </div>
        </div>

        {% block panier %}
            
            {% if app.user %}
                {{ render(controller('App\\Controller\\PanierController::mini')) }}
            {% endif %}
        
        {% endblock %}
        {% block footer %}
        <div class="container">
                <div id="footer" class="col-12">
                    <div class="col-12 row">
                        <div class="col-3">
                            <h5>Catégorie</h5>
                            <ul>
                                <li><a href="#">ordinateur</a></li>
                                <li><a href="#">jeux vidéo</a></li>
                                <li><a href="#">audio</a></li>
                                <li><a href="#">vidéo</a></li>
                                <li><a href="#">éléctroménager</a></li>
                            </ul>
                        </div>
                        <div class="col-3">
                            <h5>Contacte</h5>
                            <ul>
                                <li><a href="#">Service Client</a></li>
                                <li><a href="#">Service Après-vente</a></li>
                                <li><a href="#">Service Technique</a></li>
                                <li><a href="#">Espace Presse</a></li>
                            </ul>
                        </div>
                        <div class="col-3">
                            <h5>A propos</h5>
                            <ul>
                                <li><a href="#">Qui sommes nous?</a></li>
                                <li><a href="#">Nos services</a></li>
                                <li><a href="#">CGV</a></li>
                                <li><a href="#">Information légales</a></li>
                            </ul>
                        </div>
                        <div class="col-3">
                            <h5>Projet.com et vous</h5>
                            <ul>
                                <li><a href="#">Nos valeurs</a></li>
                                <li><a href="#">Projet.com recrute</a></li>
                                <li><a href="#">Notre programme fidélité</a></li>
                                <li><a href="#">Politique des cookies</a></li>
                                <li><a href="#">Gérer vos cookies</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 row">
                        Retrouvez nous sur:<br />
                        <a href="#" class="icon"><i class="fab fa-facebook-square"></i></a>
                        <a href="#" class="icon"><i class="fab fa-twitter-square"></i></a>
                        <a href="#" class="icon"><i class="fab fa-youtube"></i></a>
                        <a href="#" class="icon"><i class="fab fa-twitch"></i></a>
                        <a href="#" class="icon"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
        <div/>
        {% endblock %}
        
        {# BootstrapJS #}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {# jQuery #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        {# jQuery UI #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        {% block javascripts %}
        {# pour faire marcher le slider du prix #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.2/rangeslider.min.js"></script>
        <script src="{{ asset('js/sidebar.js') }}"></script>
        {% endblock %}
    </body>
</html>
