{% extends 'base.html.twig' %}

{% block title %}Détails Etiquette{% endblock %}

{% block body %}
    <h1 class="admin-title text-center">Etiquette {{ nom }}</h1>

    <table class="text-center table admin-table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tag.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ tag.nom }}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center">

        <a class="btn btn-primary" href="{{ path('tag_index') }}">Retourner à la liste</a>
        <a class="btn btn-success mx-2" href="{{ path('tag_edit', {'id': tag.id}) }}">Editer Etiquette</a>
        {{ include('tag/_delete_form.html.twig') }}

    </div>
{% endblock %}
